{% load static %}
<style>
    #head {
        width: 75%;
        margin: 0 auto;
    }

    body {
        background-image: url("{% static 'gantt/images/bg.png' %}");
        background-size: cover;
    }


    .text {
        font-family: fantasy;
        font-size: 50;
        padding-top: 20px;
        padding-bottom: 15px;
    }
</style>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<html>

<body>
    <title>技能持續時間圖表</title>
    <div id="head" align="center" style="max-width: 710px;" style="text-align:center" id="send">

        {% if cs %}
        <div align="center"><label align="center" class="text">Team Composition: </label></div>
        <div class="row row-cols-1 row-cols-md-3">
            {% for c in cs %}
            <div style="width:100px;" class="col md-4"><img src="/{{c.photo}}" alt="" style="width:100px; height:100;">
            </div>
            {%endfor%}
        </div>
        {% endif %}

    </div>
    <div align="center" style="padding:15px"><button type="submit" onclick=window.location.href="/list"
            class="btn btn-outline-dark btn-lg">重新編輯隊伍</button></div>

    <div style=" max-width: 2000px;margin-top: 30px;">
        {{ chart|safe }}
    </div>
</body>

</html>